[data-theme-dark=true]{
    background-color: #202F33;
    h1{
        color: white;
    }
    h2{
        color: #0A9AeA;
    }
    p, a{
        color: #CCCCCC;
        text-decoration-color: #0A9AeA;
    }
    .svg-inline--fa{
        color: white;
    }
    select{
        background-color: white;
    }
    aside{
        border-color: white;
    }

}