[data-theme-dark=true]{
    background-color: #1D1E1E;
    aside{
        .config-container{
            border-color: white;
        }
    }
    h1{
        color: white;
    }
    h2{
        color: #0A9AeA;
    }
    p, a{
        color: #CCCCCC;
        text-decoration-color: #0A9AeA;
    }

    .left{
        img{
            background-color: white;
            color: white;
        }
    }
    .svg-inline--fa{
        color: white;
    }
    select{
        background-color: white;
    }
    aside{
        border-color: white;
    }

}