[data-theme-dark=false]{
    background-color: white;
    aside{
        .config-container{
            border-color: black;
        }
    }
    h1{
        color: black;
    }
    h2{
        color: #0669AA;
    }
    p, a{
        color: #474747;
        text-decoration-color: #005897;
    }
    
    .svg-inline--fa{
        color: black;
    }
    select{
        background-color: black;
        color: white;
    }
    .left{
        img{
            background-color: lightgray;
            color: lightgray;
        }
    }
    .right{
        a{
            &.doc{
                background-color: #000000;
                color: white;
                box-shadow: -5px 4px #0669AA;
                svg{
                    color: white;
                }
                
                &:hover{
                    color: #89d0ff;
                    svg{
                        color: #89d0ff;
                    }
                }
            }
            &:hover{
                svg{
                    color: #0669AA;
                }
            }

        }
    }
    aside{
        border-color: black;
    }
    button:hover{
        &:before{
            color: white;
            background-color: black;
        }
    }
}