[data-theme-dark=true]{
    background-color: #1D1E1E;
    aside{
        .config-container{
            border-color: white;
        }
    }
    h1{
        color: white;
    }
    h2{
        color: #0A9AeA;
    }
    p, a{
        color: #CCCCCC;
        text-decoration-color: #0A9AeA;
    }

    .left{
        img{
            background-color: white;
            color: white;
        }
    }
    .right{
        a{
            &.doc{
                color: black;
                background-color: white;
                box-shadow: -5px 4px #0A9AeA;
                svg{
                    color: black;
                }
                &:hover{
                    color: #003d65;
                    svg{
                        color: #003d65;
                    }
                }
            }
            &:hover{
                svg{
                    color: #0A9AeA;
                }
            }
        }
    }
    .svg-inline--fa{
        color: white;
    }
    select{
        background-color: white;
    }
    aside{
        border-color: white;
    }
    button:hover{
        // &:before{
        //     color: black;
        //     background-color: white;
        // }
    }
}